!*.yaml
!.gitignore
!*.md
!*.sh
!*.js*
!node-red/


secrets.yaml

.ssh

.storage/*
!.storage/lovelace*

.cloud
.google.token
home-assistant.log*
id_rsa*
tts
custom_components
www
nest
image
home-assistant_v2.*
zigbee.*

watchman_report.txt
